## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

# App that handles subdomain specific branding
from branding import api as branding_api
%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
@media (min-width: 992px){
header.global-header .main-header .main {
    margin-top: 40px;
    margin-left: 35px;
}
header.global-header .main-header .main .nav-item.nav-tab .tab-nav-link {
padding: 10px;
margin-right: 20px;
}
header.global-header .main-header .main .nav-item.nav-tab a.active.tab-nav-link, header.global-header .main-header .main .nav-item.nav-tab .tab-nav-link:hover {
border-bottom: 2px solid #ffffff;
}
.global-header .header-logo .course-header {
    display: none;
}
.global-header {
    background-color: #1a345c;
}
.global-header .nav-links .secondary {
    color: white !important;
}
.global-header .nav-links .main .nav-tab a {
    color: white !important;
}
.global-header .header-logo a .logo {
    height: 50px !important;
    margin: 20px;
}

.global-header .nav-links .secondary .nav-item .register-btn {
	background: #ffffff;
	color: #1a345c;
	border: none;
}

.global-header .nav-links .secondary .nav-item a {
	border-radius: 12px;
	padding: 10px 25px;
}

.global-header .nav-links .secondary .nav-item a:hover {
	transition: 0.5s;
}

.global-header .nav-links .secondary a.sign-in-btn {
	background: none !important;
	border: 2px solid #ffffff;
}

.global-header .nav-links .secondary {
	margin: 38px 40px 0 0;
}
header.global-header .main-header .main .nav-item:last-child a  {
    margin: 0px !important;
}
.global-header .nav-links .secondary .nav-item .register-btn:hover {
	background: #ffffff;
	color: #1a345c;
}

.global-header .nav-links .secondary a.sign-in-btn:hover {
	background: #ffffff !important;
	border: 2px solid #ffffff;
	color: #1a345c;
}

.global-header .nav-links .secondary .cart-item {
	display: inline-block;
	margin-right: 18px;
}

.global-header .nav-links .secondary .cart-item img {
	width: 32px;
}
.global-header .category-block, .global-header form.search-foam {
    display: inline;
    float: left;
    margin-top: 35px;
}
.global-header .category-block a.category-item {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 15px;
    display: block;
}
.global-header form {
    margin-left: 5%;
    width: 30%;
    position: relative !important;
}
.global-header form.search-foam input {
    outline: none !important;
    border: none !important;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding-left: 40px;
    height: 48px;
    border-radius: 25px;
}
.global-header form.search-foam img {
    position: absolute;
    width: 18px;
    top: 16px;
    left: 15px;
}
.global-header form.search-foam input::placeholder {
color: #c0c0c0;
font-style: normal;
}

.global-header form.search-foam input button {
position: absolute;
}

.global-header form.search-foam input button {
position: absolute;
float: left;
display: block;
top: 0px;
}

.global-header form.search-foam button.search-btn {
background: #5678a9;
position: absolute;
top: 5px;
right: 7px;
padding: 7px 40px;
font-weight: 600;
border: none;
border-radius: 25px;
}
}
@media (max-width: 991px){
header.global-header {
background: #18355e;
border: none;
}
.global-header .hamburger-menu .line {
color: #ffffff !important;
background: #ffffff !important;
outline: none !important;
border: none !important;
}
.global-header .main-header {
height: 165px;
display: block;
position: relative;
width: 100%;
}
.global-header .category-block, .global-header form.search-foam {
display: block;
float: left;
}

.global-header .category-block {
width: 100%;
text-align: center;
padding: 12px 0px;
}

.global-header form.search-foam {
width: 96%;
position: relative;
margin: 0px auto !important;
margin-left: 2% !important;
}
.global-header .category-block a {
color: #ffffff !important;
text-decoration: none;
font-weight: 500;
}
.global-header .cart-item {
position: absolute;
right: 20px;
top: 20px;
}

.global-header .cart-item img {
width: 30px;
}

.global-header .mobile-menu .mobile-nav-link a {
color: #18355e !important;
text-decoration: none;
font-weight: 600 !important;
}
.mobile-menu .mobile-nav-link a:hover, .mobile-menu .mobile-nav-link a:focus {
background: #18355e !important;
color: #ffffff !important;
}
.global-header form.search-foam input {
outline: none !important;
border: none !important;
font-family: 'Poppins';
font-size: 14px;
font-weight: 600;
width: 100%;
padding-left: 40px;
height: 48px;
border-radius: 25px;
}

.global-header form.search-foam img {
position: absolute;
width: 18px;
top: 16px;
left: 15px;
}
.global-header form.search-foam button.search-btn {
background: #5678a9;
position: absolute;
top: 5px;
right: 7px;
padding: 7px 40px;
font-weight: 600;
border: none;
border-radius: 25px;
}
}
</style>

<h1 class="header-logo">
  <a href="${branding_api.get_home_url()}">
    <%block name="navigation_logo">
   <!-- <img  class="logo" src="${branding_api.get_logo_url(user.username)}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/> -->
    % if branding_api.get_organization_logo_url(user.username): 
    <img  class="logo" src="${branding_api.get_organization_logo_url(user.username)}" alt=""/>
    % else:
     <img  class="logo" src="${branding_api.get_logo_url(user.username)}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/> 
    % endif
    </%block>
  </a>
  % if course:
    <div class="course-header">
      <span class="provider">${course.display_org_with_default}:</span>
      <span class="course-number">${course.display_number_with_default}</span>
      <%
      display_name = course.display_name_with_default
      if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
        ccx = get_current_ccx(course.id)
        if ccx:
          display_name = ccx.display_name
      %>
      <span class="course-name">${display_name}</span>
    </div>
  % endif
</h1>
% if request.path == "/" or request.path == "/courses" or request.path == "/courses/":
<div class="category-block">
<a class="category-item" href="">Categories</a>
</div>
<form class="search-foam">
  <img src="${static.url('/static/lhub/images/search-icon.png')}" alt="search-icon" border="0">
  <input type="text" placeholder="Search.." name="search">
  <button class="search-btn" type="">GO</button>
</form>
%endif

% if "/about" in request.path:
 % if request.user.is_anonymous:
<div class="category-block">
<a class="category-item" href="">Categories</a>
</div>
<form class="search-foam">
  <img src="${static.url('/static/lhub/images/search-icon.png')}" alt="search-icon" border="0">
  <input type="text" placeholder="Search.." name="search">
  <button class="search-btn" type="">GO</button>
</form>
 %endif
%endif



% if enable_enterprise_sidebar:
  <div class="enterprise-tagline">
    <% tagline = configuration_helpers.get_value('ENTERPRISE_TAGLINE', settings.ENTERPRISE_TAGLINE) %>
    % if tagline:
      ${tagline}
    % endif
  </div>
% endif
