<%page expression_filter="h" />

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
from django.urls import reverse
%>

<div class="carousel">
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
            <ul class="carousel-indicators">
        % if banner_list:
            % for y in banner_list:
                % if loop.index==1:
                    <li data-target="#myCarousel" data-slide-to="${y.slide_position}" class="active"></li>
                % else:
                    <li data-target="#myCarousel" data-slide-to="${y.slide_position}" ></li>
                % endif
            % endfor
        % endif
            </ul>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
            % if banner_list:
                % for y in banner_list:
                        % if loop.index==1:
                        <div class="item active" >
                            <a href="${reverse('about_course', args=[str(y.course_over_view.id)])}">
                            <img src="${y.banner_img_url_txt}"  class="d-block w-100">
                                </a>
                        <div class="carousel-caption">
                            <h4 >${y.course_over_view.display_name_with_default}</h4>
                        </div>
                        </div>
                        % else:
                        <div class="item">
                             <a href="${reverse('about_course', args=[str(y.course_over_view.id)])}">
                            <img src="${y.banner_img_url_txt}"  class="d-block w-100">
                             </a>
                        <div class="carousel-caption">
                            <h3>${y.course_over_view.display_name_with_default}</h3>
                        </div>
                        </div>
                        % endif
                % endfor
            % endif
            </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>





